$white: #ffffff;
$silver: #C0C0C0;
$light-grey: #e5e5e5;
$grey: #808080;
$black: #000000;
$red: #FF0000;
$maroon: #800000;
$yellow: #FFFF00;
$orange: #FFA500;
$olive: #808000;
$lime: #00FF00;
$green: #008000;
$aqua: #00FFFF;
$teal: #008080;
$sea-blue: #2b4ffd;
$blue: #0000FF;
$navy: #000080;
$pink: #FF00FF;
$purple: #800080;

$font: $black;

$section-divider: $light-grey;

$border-form: $orange;

$background-button: $sea-blue;
